$container-max-width: 1440px !default;

$grid-columns: 12 !default;
$grid-gap: 30px !default;
$grid-gap-side: $grid-gap / 2 !default;

$grid-breakpoints: (
        xs:0px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxs: 1400px,
) !default;


:root{
  --font-family-base: Arial, sans-serif;;

  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-big: 18px;
  --font-size-xl: 20px;


  --color-violet: #7171f1;
  --color-red: #e11010;
  --color-gray: #7A7474BF;
  --color-gray-light: rgba(226, 228, 234, 0.73);
  --color-gray--extra-light: #E2E4EABA;
  --color-green-main: #d2face;
  --color-green-medium: #86cc7f;
  --color-green: #3ec230;
  --color-link: #36369a;

  --overlay-color: rgba(0, 0, 0, 0.49);


  // z-index
  --z-index-dropdown: 10;
  --z-index-sidebar-bg: 15;
  --z-index-sidebar-menu: 20;
}