@import 'variables';
@import 'mixins';
@import 'classes';

*{
  box-sizing: border-box;
}


.custom{
  @include row;

  .logo{
    @include col(6);
  }
  .nav{
    @include col(6);
  }

  @include bp(md){
    .logo{
      @include col(3);
    }
    .nav{
      @include col(9);
    }
  }
}


.block{
  padding: 20px;
  background-color: #ccc;
  border: solid 1px #aaa;
  text-align: center;
  height: 100%;
}