.appDropdownWrap{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;

  &.fullWidth{
    width: 100%;
  }

  .input{
    svg, span{
      transition: .3s;
      max-width: 20px;
    }
  }

  .dropdownValuesBlock{
    border-radius: 8px;
    position: absolute;
    top: 60px;
    background-color: white;
    left: 0;
    right: 0;
    box-shadow: 0 0 32px rgba(30,30,47,.12);
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2;
    padding: 12px 8px;

    .dropdownItem{
      padding: 6px 12px;
      cursor: pointer;
      border-radius: 4px;
      &:hover{
        background-color: rgba(240, 245, 250, 0.78);
      }
    }

    &.withLabel{
      top: 96px;
    }
  }

  &.active{
    .input{
      input{
        border-color: var(--color-Violet);
      }
      svg, span{
        transition: .3s;
        color: var(--color-Violet);
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
}