*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FilterBlock{
    display: inline-flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.StickyBottom{
    position: sticky;
    bottom: 10px;
}
.WidthCenter{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}