@import '../../../app/styles/variables';
@import '../../../app/styles/mixins';
@import '../../../app/styles/classes';

.postBlock {
  margin: 40px auto;
  padding: 30px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

}

.postsItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 15px;
  padding: 10px 15px;
  width: 100%;
}

.postTrashBlock {
  position: absolute;
  bottom: -5px;
  top: 40px;
  right: 0;

}


@media screen and (max-width: 1420px) {
  .postCreate {
    flex-direction: column;
    row-gap: 15px;
  }
  .postEditBlock > span > span {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .postBlock {
    width: 95%;
    max-width: 95%;
  }
  .postEditBlock > span {
    font-size: 12px;
  }
}