.blank-sheet-wrap{
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px; /* Вы можете настроить высоту Swiper по вашему желанию */
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Вы можете настроить минимальную высоту слайдов по вашему желанию */
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-right: 16px;
  user-select: none;
}

.swiper-slide:last-child {
  margin-right: 0;
}