.personalAccountWrap{
    margin: 3% auto;
    padding: 20px;
    display: flex;
    justify-content: center;

    .personalAccountMainBlock{
        display: inline-flex;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 8px;
        padding: 30px;

        .mainPhoto{
            width: 400px;
            height: 450px;
            border-radius: 12px;
        }
    }
}

.dragBlock{
    width: 350px;
    height: 350px;
    .bottomText{
        position: absolute;
        bottom: 10px;
        right: 50%;
        transform: translate(50%);
    }

    @media (max-width: 600px) {
        width: 300px;
        height: 300px;
        .bottomText{
            width: 60%;
        }
    }
}

.PersonalAccountInfoBlock{
    margin-left: 40px;
    letter-spacing: 1.2px;
}
.PersonalAccountInfoTitle{
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgray;
}

img{
    max-width: 300px;
}
.StatusBlock{
    display: flex;
}
.StatusBlockBtnWrap{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.StatusBlock span{
    margin-right: 10px;
}
.LH_4{
    line-height: 4;
}

@media screen and (max-width: 800px) {
    .personalAccountWrap{
        .personalAccountMainBlock {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            .mainPhoto{
                width: 300px;
                height: 350px;
                border-radius: 12px;
            }
            .photoWrap{
                align-items: center;
            }
        }
        .personalAccountInfoBlock{
            margin-left: 0;
        }
        .PersonalAccountInfoBlock{
            width: 100%;
            margin-left: 0;
        }
    }
}