.PersonalAccountWrap{
    margin: 3% auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.PersonalAccountMainBlock{
    display: inline-flex;
    border: 1px solid;
    border-radius: 8px;
    padding: 30px;
}

.PersonalAccountInfoBlock{
    margin-left: 40px;
    letter-spacing: 1.2px;
}
.PersonalAccountInfoTitle{
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgray;
}

img{
    max-width: 300px;
}