.PersonalAccountWrap{
    margin: 3% auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.PersonalAccountMainBlock{
    display: inline-flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
    padding: 30px;
}

.mainPhoto{
    width: 400px;
    height: 450px;
    border-radius: 12px;
}

.BottomText{
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translate(50%);
}

.dragBlock{
    width: 350px;
    height: 350px;
}

.FileBlock{
    display: flex;
    max-width: 300px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0;
}

.FileErrorBlock{
    margin-top: 15px;
    color: red;
}

.FileBlock span{
    margin-bottom: 10px;
    margin-right: 7px;
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PersonalAccountInfoBlock{
    margin-left: 40px;
    letter-spacing: 1.2px;
}
.PersonalAccountInfoTitle{
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkgray;
}

img{
    max-width: 300px;
}
.StatusBlock{
    display: flex;
}
.StatusBlockBtnWrap{
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.StatusBlock span{
    margin-right: 10px;
}
.LH_4{
    line-height: 4;
}

@media screen and (max-width: 700px) {
    .PersonalAccountPhoto {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .PersonalAccountMainBlock {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .PersonalAccountInfoBlock{
        margin-left: 0;
    }
}