.AppButton {
  cursor: pointer;
  margin-left: 5%;
  border: none;
  color: #646060;
  border-radius: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: .3s;

  &:hover {

  }
}

.red-btn{
  color: rgba(249, 250, 252, 0.7);
  background-color: #e03e3e;
  &:hover{
    color: white;
    box-shadow: 0 0 10px rgba(211, 89, 89, 0.78);
  }
}
.blue-btn{
  color: rgba(249, 250, 252, 0.7);
  background-color: #2847e7;
  &:hover{
    color: white;
    box-shadow: 0 0 10px rgba(25, 101, 174, 0.64);
  }
}
.green-btn{
  background-color: #d2face;
  &:hover{
    color: black;
    box-shadow: 0 0 10px rgba(133, 196, 127, 0.78);
  }
}
.small-btn {
  font-size: 14px;
  padding: 10px 12px;
}

.middle-btn {
  font-size: 16px;
  padding: 12px 20px;
}

.big-btn {
  font-size: 18px;
  padding: 14px 30px;
}