.AppButton{
    cursor: pointer;
    padding: 12px 20px;
    margin-left: 5%;
    border: none;
    background-color: #d2face;
    color: #363636;
    border-radius: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .3s;
}
.AppButton:hover{
    box-shadow: 0 0 10px rgba(133, 196, 127, 0.78);
}