
.inputFile {
  position: relative;
  display: inline-block;

  div {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    margin: 0;
  }
  &.ico{
    div{
      display: flex;
      gap: 7px;
      align-items: center;
      .ico{
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
    }
  }

  input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;

    &:disabled + div {
      background-color: #eee;
    }
  }
  &.btn {
    div {
      transition: background-color 0.2s;
      border-radius: 6px;
      background-color: var(--color-green-main);
    }

    &:hover div {
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    }

    &:active div {
      background-color: var(--color-green-medium);
    }
  }
}