.button{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px;
}

.button{
  &:not(&.disabled):hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
}

.button:active {
  transform: scale(0.96);
}

.small{
  padding: 0;
  font-size: 14px;
}
.base{
  padding: 8px 12px;
  font-size: 16px;
}
.big{
  padding: 12px 20px;
  font-size: 20px;
}

.outline{
  border: 1px solid gray;
}

.full-bg{
  background-color: #d2face;
}

.max{
  width: 100%;
}

.disabled{
  opacity: .5;
  pointer-events: none;
}