@import "./src/styles/mixins";

.timepickerWrap{
  position: relative;
  .timepickerInput{
    min-width: 100px;
      svg{
        cursor: pointer;
        width: 24px;
        max-width: 24px;
        height: 24px;
        max-height: 24px;
      }
  }
  .timesListWrap{
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: translateY(100%);
    background-color: white;
    border-radius: 6px;
    border: 1px solid var(--color-gray);
    z-index: var(--z-index-dropdown);

    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 4px;

    max-height: 200px;
    .timesList{
      @include scroll();
      padding-right: 3px;
      .item{
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        &:hover{
          background-color: var(--color-gray-light);
        }
        &.active{
          pointer-events: none;
          background-color: var(--color-gray-light);
        }
      }
    }
  }
}