@import '../../../app/styles/variables';
@import '../../../app/styles/mixins';
@import '../../../app/styles/classes';

.usersList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);

    .UserItem {
      border: 1px solid black;
      border-radius: 4px;
      padding: 20px 15px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .UserPhotoBlock img {
        max-width: 150px;
      }

      .UserEmailBlock {
        max-width: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
}


/*=============UserProfile*/
.UserProfileWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserProfileInfoWrap {
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid;
}

.UserProfilePhoto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.UserProfilePhoto img {
  max-width: 300px;
}

.UserProfileInfo {
  margin-top: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 7px;
}