*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-base);
}

body, #root {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin: 0;
    scrollbar-gutter: stable;
    &::-webkit-scrollbar{
        width: 3px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--color-green-main);
    }
    &:has(.app-modal){
      overflow: hidden;
    }
}

.app{
    min-height: 100vh;
}


