.widgetWrap{
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  transition: height 0.3s, opacity 0.3s;
  overflow: hidden;

  &.fullWidth{
    width: 100%;
  }

  .titleBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    span{
      font-size: var(--font-size-big);
    }
    .icoBlock{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background-color: var(--color-gray-light);
      border-radius: 50%;
      cursor: pointer;
      transition: .3s;
      .ico{
        max-height: 12px;
        max-width: 12px;
      }
    }
  }

  .content{
    transition: opacity 0.3s;
    height: 1px;
    background-color: var(--color-gray);
    overflow: hidden;
  }

  &.active{
    transition: 3s;
    .titleBlock .icoBlock{
      transform: rotate(180deg);
      transition: .3s;
    }

    .content{
      opacity: 1;
      height: auto;
      transition: max-height 0.3s, opacity 0.3s;
      background-color: white;
    }
  }
}