.radioWrap{
  display: inline-flex;
  gap: 8px;
  align-items: center;

  .radio{
    position: relative;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(189, 207, 228, 1);
    border-radius: 50%;
    cursor: pointer;
    .white{
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
    }
    &.active{
      background: rgba(33, 133, 251, 1);
      border-color: rgba(33, 133, 251, 1);
    }
  }

  &.disabled{
    pointer-events: none;
  }
}