.appInputWrap{
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.appInputWrap label{
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 10px;
    padding-left: 7px;
}

.appInput{
    position: relative;
}

.appInput input{
    padding: 5px 7px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.56);
}

.borderError input{
    border: 2px solid rgb(196, 55, 55);
}

.appInputError{
    max-width: 180px;
    color: #e03333;
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
}

.IcoRight{
    position: absolute;
    right: 4%;
    top: calc(50% - 11px);
    color: #ccc;
    width: 23px;
    transition: .5s;
}

.IcoRight.Active{
    transition: .5s;
    transform: rotate(180deg);
}