.inputWrap{
  display: inline-flex;
  flex-direction: column;
  gap: 7px;

  .inputBlock{
    width: 100%;
    position: relative;
    .inputBase{
      width: 100%;
      border: 1px solid var(--color-gray);
      border-radius: 4px;
      padding: 6px 12px;
      outline: none;
      font-size: var(--font-size-base);
    }

    .ico {
      position: absolute;
      top: calc(50% - 8px);
      &.left{
        left: 7px
      }
      &.right{
        right: 7px
      }
    }

    .error{
      font-size: 14px;
      position: absolute;
      bottom: 0;
      color: var(--color-red);
      transform: translate(0, 100%);
    }
    .message{
      font-size: 14px;
      position: absolute;
      bottom: 0;
      color: var(--color-gray);
      transform: translate(0, 100%);
    }
  }
  &.error .inputBlock .inputBase{
    border-color: var(--color-red);
  }
  &.icoLeft{
    .inputBlock .inputBase{
      padding-left: 28px;
    }
  }
  &.icoRight{
    .inputBlock .inputBase{
      padding-right: 28px;
    }
  }
  &.fullWidth{
    width: 100%;
  }
}

input[type="time"]{
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}