.dropBlock{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  width: 200px;
  position: relative;
  min-width: 200px;

  .dropItem, .dropArea{
    flex: 1;
    width: 100%;
    border: 1px dashed var(--color-gray);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dropArea{
    border-color: black;
  }

  .photo{
    border: 1px solid var(--color-gray);
    border-radius: 10px;
  }

  .optionsBlock{
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 5;
    .icoBlock{
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
      border: 1px solid var(--color-gray);
      width: 28px;
      min-width: 28px;
      height: 28px;
    }
    .optionsList{
      padding: 12px 12px;
      width: 170px;
      .optionItem{
        div{
          padding-left: 0;
          text-align: left;
        }
      }
    }
  }
}