.card{
  display: flex;
  flex-direction: column;
  gap: 5px;

  a{
    display: flex;
    height: 100%;
    border-bottom: none;
    &:hover{
      border-radius: 20px;
      border-bottom: none;
    }
  }
}

.max{
  width: 100%;
  .content{
    width: 100%;
  }
}
.boxShadow{
  .content{
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  a{
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
    }
  }
}

.withoutBorder{
  .content{
    border-width: 0;
  }
}

.content{
  min-width: 200px;
  padding: 12px;
  border: 1px solid #beb6b6;
  border-radius: 20px;
}

.title{
  padding-left: 12px;
  font-size: 20px;
  font-weight: 600;
}