.UsersBlock{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 100px;
}

.UserLink{
    border: none;
    color: #1D2732;
    display: inline-flex;
}

.UserItem{
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.UserPhotoBlock img{
    max-width: 150px;
}


 /*=============UserProfile*/
.UserProfileWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserProfileInfo{
    display: inline-flex;
}