.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 65px;
    left: 0;
    transform: translateX(-130%);
    transition: all .2s;
    z-index: 5;
}
.menu.active{
    transform: translateX(0);
}

.blur{
    width: 100vw;
    height: 100vh;
    left: 30%;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menuContent{
    width: 30%;
    height: 100%;
    background-color: rgb(73, 70, 70);
    box-shadow: 0 0 4px rgba(168, 68, 182, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s;
}

.menuHeader{
    padding: 10px;
    font-size: 2rem;
    color: #f1f1f1;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

ul{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.3rem;
    margin: 10px;
}

ul li a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .menuContent{
        width: 100%;
    }
    .blur{
        backdrop-filter: none;
    }
}