.trash{
    cursor: pointer;
    padding: 5px;
}

.trash:hover{
    border: 1px solid rgba(108, 103, 103, 0.76);
}

.small{
    width: 20px;
}

.medium{
    width: 32px;
}

.big{
    width: 50px;
}

.trashModelContent{
    margin: 20px;
}