$container-max-width: 1440px !default;

$grid-columns: 12 !default;
$grid-gap: 30px !default;
$grid-gap-side: $grid-gap / 2 !default;

$grid-breakpoints: (
        xs:0px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxs: 1400px,
) !default;