@import 'variables';

*{
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: $grid-gap-side;
  padding-right: $grid-gap-side;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: $grid-gap-side;
  margin-right: $grid-gap-side;

  margin-bottom: $grid-gap-side;
}

.col{
  flex: 1 0 0%;
  margin-left: $grid-gap-side;
  margin-right: $grid-gap-side;
}

.block{
  padding: 20px;
  background-color: #ccc;
  border: solid 1px #aaa;
  text-align: center;
  height: 100%;
}