@import 'variables';

*{
  box-sizing: border-box;
}

.container{
  margin: 20px auto;
  max-width: $container-max-width;
  padding-left: $grid-gap-side;
  padding-right: $grid-gap-side;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gap-side;
  margin-right: -$grid-gap-side;

  margin-bottom: $grid-gap-side;

  > * {
    margin-left: $grid-gap-side;
    margin-right: $grid-gap-side;
  }
}

.col{
  flex: 1 0 0%;
  margin-left: $grid-gap-side;
  margin-right: $grid-gap-side;
}

@mixin col($size){
  flex: 0 0 auto;
  width: calc(#{percentage($size / $grid-columns)} - #{$grid-gap});
}

//.col-1{
//  @include col(1);
//}
//.col-2{
//  @include col(2);
//}

@for $i from 1 through $grid-columns{
  .col-#{$i}{
    @include col($i)
  }
}



.block{
  padding: 20px;
  background-color: #ccc;
  border: solid 1px #aaa;
  text-align: center;
  height: 100%;
}